.container {
  display: flex;
  margin: auto;
  gap: 20px;
}

.btn {
  padding: 5px 10px;
  background-color: red;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 3px blue;
}
